<div class="d-flex h-90vh w-100 align-items-center justify-content-center">
  <mat-card>
    <mat-card-title class="text-center">
      Welcome to the Converter App
    </mat-card-title>
    <div class="d-flex justify-content-between">
      <button routerLink="convert-currency" class="btn-home" type="button" mat-raised-button color="primary">
        <mat-icon>account_balance_wallet</mat-icon>
        Currency
      </button>
      <button [disabled] routerLink="units" type="button" class="disabled btn-home" mat-raised-button color="primary">Units</button>
    </div>
  </mat-card>
</div>
